<?xml version="1.0"?>
<launch>

  <!-- map server, the path to the map config file -->
  <arg name="map" default="$(find mbot_world_model)/maps/isr-testbed/map.yaml" />

  <!-- map server node, publishes a map from .pgm image and .yaml config file -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)" />

    <!-- Republish laser scan topics to a single topic -->
  <!--node pkg="topic_tools" type="relay" name="front_laser_scanner_repub" args="/scan_rear /scan_combined"/>
  <node pkg="topic_tools" type="relay" name="rear_laser_scanner_repub" args="/scan_front /scan_combined"/-->
  
</launch>
