<?xml version="1.0"?>
<launch>
    
    <arg name="config_file" default="$(find mbot_autom_param_tuning_tools)/ros/config/algorithm_instance_coordinator_rqt_config.yaml" />
    
    <node pkg="mcr_event_gui" type="event_gui_node" name="event_gui" ns="mcr_tools" output="screen">
        <param name="config_file" type="str" value="$(arg config_file)"/>
    </node>

</launch>
